<!-- Finish Building Form Fields -->
<!-- Make Responsive -->


<mat-grid-list cols="3" rowHeight="7:1">
    <form [formGroup]="searchForm">
        <!-- Text Search -->
        <mat-grid-tile col-span="1" class="form-tile">
            <mat-form-field>
                <input 
                matInput 
                type="text" 
                placeholder="Search Decklist" 
                formControlName="text"
                >
                <button matSuffix mat-icon-button aria-label="Clear" (click)="search()">
                    <mat-icon>search</mat-icon>
                </button>
            </mat-form-field>
        </mat-grid-tile>
    </form>
</mat-grid-list>
