<!-- Finish Building Form Fields -->
<!-- Make Responsive -->


<mat-grid-list cols="3" rowHeight="7:1">
    <form>
        <!-- Text Search -->
        <mat-grid-tile col-span="1" class="form-tile">
            <mat-form-field>
                <input matInput type="text" placeholder="Search Decklist">
                <button matSuffix mat-icon-button aria-label="Clear">
                    <mat-icon>search</mat-icon>
                </button>
            </mat-form-field>
        </mat-grid-tile>

        <!-- Game Format -->
        <!-- <mat-grid-tile class="form-tile">
            <mat-form-field>
                <mat-chip-list #chipList>
                    <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable" [removable]="removable"
                        (removed)="remove(fruit)">
                        {{fruit}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <input placeholder="Game Formats" #fruitInput [matAutocomplete]="auto" [matChipInputFor]="chipList"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add($event)">
                </mat-chip-list>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                    <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
                        {{fruit}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </mat-grid-tile> -->
    </form>
</mat-grid-list>
