<mat-tab-group class="tab-group" *ngIf="(this.deckService.deck$ | async) as deckSummary">
    <mat-tab label="Deck Summary">
        <div class="tab">
            <h2>{{deckSummary.title}}</h2>
            <mat-grid-list cols="3" rowHeight="2:1">
                <mat-grid-tile>
                    <mat-grid-tile-header>
                        <h3>Cards by Type: </h3>
                    </mat-grid-tile-header>
                    <app-graph-card-types [graphInfo]="deckSummary.summary.cardTypes">
                    </app-graph-card-types>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-grid-tile-header>
                        <h3>Mana Curve: </h3>
                    </mat-grid-tile-header>
                    <app-graph-mana-curve [graphInfo]="deckSummary.summary.manaCosts"></app-graph-mana-curve>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-grid-tile-header>
                        <h3>Cards by Rarity: </h3>
                    </mat-grid-tile-header>
                        <app-graph [data]="pieChartData" 
                        [label]="pieChartLabels" 
                        [chartType]="pieChartType"
                        [colors]="pieChartColors">
                        </app-graph>
                        <app-graph-rarity [graphInfo]="deckSummary.summary.rarities"></app-graph-rarity>
                </mat-grid-tile>
            </mat-grid-list>

            <hr class="spacer" />  

            <div>
                <!-- Tags - Make into one - pass in title/collection -->
                <h3 class="contentHeader">Formats: </h3>
                <button *ngFor="let format of deckSummary.summary.formats" class="content" mat-raised-button color="primary" matBadge="5"
                    matBadgePosition="before" matBadgeColor="accent" matBadgeSize="small">
                    {{format}}
                </button>
            </div>
            <div>
                <h3 class="contentHeader">Available: </h3>
                <button *ngFor="let available of deckSummary.summary.available" class="content" mat-raised-button color="primary" matBadge="5"
                    matBadgePosition="before" matBadgeColor="accent" matBadgeSize="small">
                    {{available}}
                </button>
            </div>
            <div>
                <h3 class="contentHeader">Colors: </h3>
                <button *ngFor="let colorType of deckSummary.summary.colorTypes" class="content" mat-raised-button color="primary" matBadge="5"
                    matBadgePosition="before" matBadgeColor="accent" matBadgeSize="small">
                    {{colorType}}
                </button>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Card List"> 
        <div class="tab">
            <table mat-table [dataSource]="deckSummary.cards" class="mat-elevation-z8">

                <!-- name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
            
                <!-- type Column -->
                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef> Type </th>
                    <td mat-cell *matCellDef="let element"> {{element.type}} </td>
                </ng-container>

                <!-- colors Column -->
                <ng-container matColumnDef="colors">
                    <th mat-header-cell *matHeaderCellDef> Colors </th>
                    <td mat-cell *matCellDef="let element"> 
                        <button *ngFor="let colorType of element.colors" class="content" mat-raised-button color="primary" matBadge="5"
                            matBadgePosition="before" matBadgeColor="accent" matBadgeSize="small">
                            {{colorType}}
                        </button>
                    </td>
                </ng-container>
                        
                <!-- manaCost Column -->
                <ng-container matColumnDef="manaCost">
                    <th mat-header-cell *matHeaderCellDef> Manacost </th>
                    <td mat-cell *matCellDef="let element"> {{element.manaCost}} </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </mat-tab>
</mat-tab-group>